@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    overflow: scroll;
    font-size: 0.8rem;
}

p {
    line-height: 1.5rem;
}

.sheet-container {
    .sheet-content {
        display: flex;
        .action-table {
            margin-left: -5px;
        }
        .jexcel {
            thead {
                z-index: 60;
                background: white;
                position: sticky;

                tr:first-child {
                    td {
                        top: 4.2rem;
                    }
                }
                tr:nth-child(2) {
                    td {
                        top: 111px;
                    }
                }
                tr {
                    td {
                        height: 46px;
                        input[type="text"] {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.chart-container {
    width: calc(100vw - 180px);
}

.table-sm td, .table-sm th {
    padding: .4rem;
}

h6 {
    @apply text-lg font-bold my-2;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
}
input {
    font-size: .6rem;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: 1.2rem;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    border: 1px solid gray;
    padding: 1px 2px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray;
}

a {
    background: transparent;
    color: #007bff;
    text-decoration: none;
}
