@import 'jexcel.css';
@import 'jexcel.datatables.css';
body {
    height: 100vh;
    overflow: scroll;
    font-size: 0.8rem;
}
p {
    line-height: 1.5rem;
}

.myexcel {
    &.filter {
        z-index: 999;
        background: white;
        position: sticky;
        top: 65px;
    }
}

