@import 'jexcel.css';
@import 'jexcel.datatables.css';
body {
    height: 100vh;
    overflow: scroll;
    font-size: 0.8rem;
}
p {
    line-height: 1.5rem;
}

.sheet-container {
    .sheet-content {
        display: flex;
        .action-table {
            margin-left: -5px;
        }
        .jexcel {
            thead {
                z-index: 999;
                background: white;
                position: sticky;

                tr:first-child {
                    td {
                        top: 65px;
                    }
                }
                tr:nth-child(2) {
                    td {
                        top: 111px;
                    }
                }
                tr {
                    td {
                        height: 46px;
                        input[type="text"] {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
